@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

/* COLOR SCHEMA  */

:root {
    --first: #f1e7de;
    --second: #D4A59A;
    --third: #BC4639;
    --fourth: #4d1811;
    --fifth: #4285F4;
}

/* var() using with this function */

/* COLOR SCHEMA  */

/* Global styles */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

section {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

main {
    min-height: 100vh;
}

/* Global styles */

header {
    background-color: var(--first);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2)
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

nav,
.nav-footer {
    display: flex;
    gap: 1.5rem;
}

nav a,
.connection a,
.nav-footer a {
    color: #6d4039;
    font-size: .85rem;
    font-weight: 600;
    transition: 150ms ease;
}

nav a:hover,
.connection a:hover,
.nav-footer a:hover {
    color: var(--fourth);
    transform: scale(1.1);
}

.header,
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem .5rem;
}

.footer {
    border-top: 1px solid black;
}

.logo img {
    aspect-ratio: 1;
    width: 50px;
}

.connection {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.intro {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.flesh {
    display: flex;
    justify-content: flex-end;
}

.intro-text h3 {
    font-size: 2rem;
}

.intro-text p {
    font-size: 1rem;
}

.flesh img {
    width: 4rem;
    height: 3rem;
    margin-top: 2rem;
}

/* divider */

.divider {
    position: relative;
    height: 1px;
}

.div-transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(48, 49, 51), transparent);
}

.div-dot:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -15px;
    left: calc(50% - 9px);
    width: 30px;
    height: 30px;
    background: url(/assets/formos.svg);
}

/* Latest */

.latest-quotes {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.card {
    max-width: 75%;
    padding: 2rem;
    background-color: #F2F1F1;
    border-radius: 1rem;
    display: flex;

}

.card div:nth-child(2) {
    padding-inline: 2rem;
    line-height: 2rem;
}

.card-content {
    padding-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.card-content p:nth-child(2) {
    font-size: 1.2rem;
}

.right-quote {
    margin-top: auto;
}

.right-quote img {
    transform: rotate(180deg);
}

.latest-quotes a {
    background-color: var(--fifth);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 700;
}

/* AUTHORS */

.page-header img {
    max-height: 325px;
    width: 100vw;
    object-fit: cover;
    object-position: top;
}

.page-header-quotes img {
    max-height: 325px;
    width: 100vw;
    object-fit: cover;
    object-position: center;
}

.page-header-author img {
    max-height: 325px;
    width: 100vw;
    object-fit: cover;
    object-position: 80%;
}

/* Back Office -> Table */

.table-wrapper {
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td,
.fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }

    .table-wrapper:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }

    .fl-table thead,
    .fl-table tbody,
    .fl-table thead th {
        display: block;
    }

    .fl-table thead th:last-child {
        border-bottom: none;
    }

    .fl-table thead {
        float: left;
    }

    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .fl-table td,
    .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .fl-table tbody tr {
        display: table-cell;
    }

    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }

    .fl-table tr:nth-child(even) {
        background: transparent;
    }

    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

/* Back Office -> Add quote form  */

.text-add{
    width: 60%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
    background-color: #F2F1F1;
    border-radius: 15px;
}

.text-add input{
    padding: .5rem 1rem;
    border-radius: 10px;
    border: 1px solid grey;
}

.text-add button{
    padding: .5rem 1rem;
    border-radius: 10px;
    border: 1px solid grey;
    color: white;
    background-color: var(--fifth);

}
